<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="registerForm" (submit)="RegistrationButton()">
              <h1>Register</h1>
              <p class="text-body-secondary">Create your account</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input formControlName="fullname" autoComplete="name" cFormControl placeholder="Full Name" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>&#64;</span>
                <input formControlName="email" autoComplete="email" cFormControl placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="password" autoComplete="new-password" cFormControl placeholder="Password" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input formControlName="confirm_password" autoComplete="new-password" cFormControl placeholder="Repeat password" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon  name="cilPhone"></svg>
                </span>
                <input formControlName="phone" autoComplete="new-password" cFormControl placeholder="Phone"/>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilScrubber"></svg>
                </span>
                <div class="d-flex ms-3">
                  <c-form-check inline class="me-3">
                    <input formControlName="status" cFormCheckInput id="radioinline1" name="status" type="radio" value="active" />
                    <label cFormCheckLabel for="radioinline1">Active</label>
                  </c-form-check>
                  <c-form-check inline>
                    <input formControlName="status" cFormCheckInput id="radioinline2" name="status" type="radio" value="inactive" />
                    <label cFormCheckLabel for="radioinline2">Inactive</label>
                  </c-form-check>
                </div>
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilEqualizer"></svg>
                </span>
                <select formControlName="role" aria-label="Default select example" cSelect>
                  <option>Select Role (disabled)</option>
                  <option value="1">Admin</option>
                  <option value="2">Customer</option>
                  <option value="3">Sales</option>
                </select>
            </c-input-group>
              <div class="d-grid">
                <button type="submit" cButton color="success">Create Account</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
